body {
  font-family: Arial, sans-serif;
  text-align: center;
  justify-content: center;
  margin-top: 200px;
}

#excuse {
  margin-top: 20px;
  font-size: 18px;
}

button {
  font-size: 18px;
  cursor: pointer;
}
